<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="msvalidate.01" content="03CE1F890B6EFF5C6F1FBD37F854DC3C" />
   <title>{{ page.title }}</title>

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection" />
   {{ page.css }}
   
   <!-- Google Analytics -->
   <script type="text/javascript">

     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-608955-8']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

   </script>
</head>
<body {{page.body_attr}}>

  <div id="site">

    <div id="header">
      {{page.header}}
      <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/pages/services">Services</a></li>
        <li><a href="/pages/about">About Us</a></li>
        <li class="last"><a href="/pages/contact">Contact</a></li>
      </ul>
    </div>
    
    <div id="wrap">
      {{ content }}      
    </div>
  
  </div>
  <div id="footer">
  </div>
</body>

</html>